@charset "UTF-8";

/* ===========================================
    qna / notice 공통
============================================ */
#scrollContent{
    height:186px;
   overflow:auto;
   position:relative;
}

 
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:8;
}

a {
   text-decoration: none;
   color: #666;
}

ul, ol {
   list-style: none;
}

li{
   display: inline;
}

.col-aside{display: inline-block; vertical-align:top; margin: 25px 30px 0 0; height: 500px;}
.col-aside li{padding: 10px ; border-top: solid 1px #ccc; display: block;}
.col-aside a{color:#000;}
.col-aside a:hover{color: #fff; text-decoration: none; background-color: #f7ca55;}
.on{background-color: #f7ca55;}
.on a{color: #fff;}

.col-detail {
   display: inline-block;
   font-style: normal; 
   font-size: 14px; 
   color: #666;
   width: 900px;
}

/* 검색 */
.inblack {
   display: inline;
}

.qu_txt {
   display: inline;
   font-size: 12px;
   font-weight: bold;
   margin-left: 10px;
}
.qu_txt em{
   font-style: normal;
}
.qu_txt span{
   padding: 0px 10px 0px 5px;
   border-right: solid 1px #000;
   border-spacing: 10px;
}
.qu_txt sapn a{
	color: #666;
}

.search_order li {
   font-size: 18px; 
   font-weight: bold;
   }
   
.tabbable{
   padding: 30px 0 30px 0;
}

.nav{
   width: 864px;
}


/* contents */

.tab-pane{
   margin-top: 10px;
}

.search_result{
   margin-top: 20px;
   font-size: 12px;
}
.search_result span{
   font-weight: bold;   
}

.tbl_area{
   font-size: 12px;
   width: 863px;
   border-bottom: solid 1px #bbb;
   margin-top: 0px;
}
table{
   width: 863px;
   border-collapse: separate;
   border-spacing: 20px;
}

caption{
   visibility: hidden;
}

/* footer 문의 */
.search_order{
   width: 863px;
   border-top: solid 2px #000;
   border-bottom: solid 1px #ddd;
   padding: 25px 0 15px 0;
}


/* ===========================================
    email
============================================ */
fieldset{
   border: none;
}

legend{
   visibility: hidden;
}

.tbl_area_e{
   width: 863px;
   border-top: solid 1px #bbb;
   border-bottom: solid 1px #bbb;
}
.tbl_area_e table{
	border-collapse:collapse
}
.tbl_area_e tr{
	border-bottom: solid 1px #bbb;
}
.tbl_area_e tr:nth-child(3), .tbl_area_e tr:nth-child(4){
	border: none;
}
.tbl_area_e tr:nth-child(5){
	border-top: solid 1px #bbb;
}
.tbl_area_e tr:last-child{
	border: none;
}

.tbl_info_txt{
	padding-top: 10px;
}

.email_list_area{
	font-size: 13px;
	text-align: left;
}
.email_list_area th{
	padding: 0px;
}

.check_info td{
	padding-left: 0px;
	padding-bottom: 70px;
}
.check_info .on{
	background-color: transparent;
}

.tbl_info_txt{
   float: right;
}

.type_list .on{
	background-color: transparent;
}