@charset "UTF-8";

a{text-decoration: none; color: #000;}
ul{list-style: none; padding: 0px;}
.col-aside{display: inline-block; vertical-align:top; margin-right: 30px; height: 500px;}
.col-aside li{padding: 10px; border-top: solid 1px #ccc;}
.col-aside a:hover{color: #fff; text-decoration: none; background-color: #f7ca55;}
.on{background-color: #f7ca55;}
.on a{color: #fff;}
.col-detail{display: inline-block; width: 900px;}
.tel_inquiry{border-top: solid 1px #bbb; padding:20px 10px;}
.customer_notice_area{height: 350px;}
.list li{font-size: 13px; border: solid 1px #ccc; border-radius: 5px;}
.notice_area{font-size: 13px;}
.round{border-radius: 5px; font-size: 12px; padding: 2px; }
.red{border: solid 2px red;} .gray{border: solid 2px gray;}

/* main */
.c_check_warp{overflow:hidden;}
.c_check_warp .c_box{float:left;display:inline-block;height:260px;text-align:center;}
.c_check_warp .c_tit{display:block;font-size:22px;padding-top:122px;background:url(../images/sub/customer/bg_c_check.png) no-repeat;}
.c_check_warp .c_txt{display:inline-block;margin:14px 0px 20px 0px;font-size:14px;}

.qna_search{width:268px;background-color:#e71a0f;}
.qna_search .search_tit{color:#fdfcf0;background-position:105px 50px;}
.qna_search .search_box{position:relative;margin:15px 0px 12px 0px;display:inline-block;width:214px;height:36px;background-color:#fdfcf0;text-align:left;}
.qna_search .search_box input{margin-top:10px;width:160px;height:15px;line-height:13px;border-right:solid 1px #999;border-left:0;border-top:0;border-bottom:0;background-color:#fdfcf0;}
.qna_search .search_box .btn_search{position:absolute;right:0;top:0;display:inline-block;width:43px;height:36px;line-height:36px;font-weight:bold;font-size:13px;}
.qna_search .c_qu a:first-child{padding-left:0px;}
.qna_search .c_qu a{padding-left:10px;font-size:12px;color:#fdfcf0;}
.emaile_inquiry{width:266px;background-color:#ede9dd;}
.emaile_inquiry .email_tit{color:#333;background-position:-167px 50px;}
.my_advice{width:266px;background-color:#edf1e9;}
.my_advice .advice_tit{color:#333;background-position:-429px 50px;}

.customer_notice_area{overflow:hidden;margin-top:36px;}
.service_area .tit, .notice_area .tit{color:#222;font-size:16px;font-weight:bold;}
.service_area{float:left;width:300px; height:287px;}
.service_area .list{padding-top:15px;margin:-5px 0px 0px -5px;*zoom:1;}
.service_area .list:after {display:block;content:'';clear:both;}
.service_area .list li {margin:5px 0px 0px 5px;float:left; width:130px; height:80px;}
.service_area .list li a{padding:24px 20px 25px 17px;display:block;width:120px;height:32px;color:#222;line-height:150%;font-weight:bold;background:url(../images/sub/customer/bg_c_main.png) no-repeat 0 -287px;}
.service_area .list li a:hover{text-decoration: none;}
.service_area .list .off a {color:rgba(149, 149, 143, 0.5); background-position: 0 -377px;}

.notice_area{position:relative;left:0;top:0;float:left;width:473px; height:287px; margin-left: 30px;} 
.notice_area .txt{margin-top:15px;}
.notice_area .txt li:first-child{margin-top:0;}
.notice_area .txt li{text-align:right;margin-top:13px;vertical-align:top; font-size: 12px;}
.notice_area .txt li a{float:left;overflow:hidden;display:inline-block;width:400px;color:#222;white-space:nowrap;text-overflow:ellipsis;text-align:left;}
.notice_area .txt li a:hover, .notice_area .txt li a:active{font-weight:bold;text-decoration:underline;}
.notice_area .txt .day{color:#222;font-size:11px;}
.notice_area .more{position:absolute;top:0;left:75px;display:inline-block;width:20px;height:19px;background:url(../images/sub/customer/bg_c_main.png) no-repeat -159px -287px;text-indent:-999px;}
.noti_ban_area{position:absolute; left:0; bottom:0; overflow:hidden;margin-top:36px;}
.noti_ban_area .ban_preview{display:inline-block;width:231px;height:95px;background:url(../images/sub/customer/bg_c_main.png) no-repeat 0 -163px;text-indent:-999px;*zoom:1;*display:inline;*zoom:1;}
.noti_ban_area .ban_discount{display:inline-block;width:232px;height:95px;margin-left:7px;background:url(../images/sub/customer/bg_c_main.png) no-repeat -241px -163px;text-indent:-999px;*display:inline;*zoom:1;}

.shortcu_area{overflow:hidden;margin-top:60px;padding:30px 0px 35px 0px;color:#222;border-top:solid 1px #cacac1;border-bottom:solid 1px #cacac1;}
.shortcu_area li:first-child{margin-left:0;}
.shortcu_area li{float:left;width:25%; font-size: 12px;}
.shortcu_area .tit_shortcut{display:inline-block;height:33px;line-height:33px;font-size:16px;background:url(../images/sub/customer/bg_c_main.png) no-repeat;}
.shortcu_area .ico_lost{padding-left:48px;background-position:-3px -88px;}
.shortcu_area .ico_general{padding-left:53px;background-position:-158px -88px;}
.shortcu_area .ico_vipinfo{padding-left:49px;background-position:-361px -88px;}
.shortcu_area .ico_vipcustomer{padding-left:38px;background-position:-513px -88px;}
.shortcu_area .txt{display:block;margin:10px 30px 13px 0px;font-size:12px;line-height:150%;}
.shortcu_area .round.on.gray{height:20px;}

.tel_inquiry{overflow:hidden;margin-top:20px;font-size:14px;color:#222;}
.tel_inquiry li:first-child{margin-left:0;padding-left:0;border-left:0;}
.tel_inquiry li{float:left;margin-left:18px;padding-left:14px;border-left:solid 1px #bebdb4;}
.tel_inquiry .time{font-size:12px;}