@charset "utf-8";

   .container{
       width:100%;
       background-color: #fdfcf0;
    }
    .contents{
       clear:both;
       position: relative;
       width: 1000px;
       margin:0 auto;
    }
    .title-event {
       border-bottom: 2px solid #241d1e;
    }
    .title-header {
       position: relative;
       height: 51px;
       margin-top: 30px;
    }
     .title-header > .btn-toolbar {
       position: absolute; 
       top : 5px;
       right:0;
    }
    .endevent-list {
       clear:both;
      zoom: 1;
    }
    .endevent-list ul{
       border-width:1px 0;
       border-style:solid;
       border-color:#b8b6aa;
       list-style:none;
    }
    .endevent-list li{
       height:91px;
       border-top: 1px solid #d6d4ca;
    }
    .endevent-list .box-image{
       margin-right:20px;
       margin-top:4px;
    }
    .endevent-list li div {
       float : left;
    }
     .box-image a{
       display:block;
    }
    .image{
       display: block;
       position: relative;
       
    }
    .endevent-list .box-image .image{
       width:100px;
       height:83px;
    }
    
    .endevent-list .box-image img{
       height:100%;
    }
    .box-image img {
       width: 100%;
       vertical-align : middle;
    }
   
   
    
    .endevent-list .box-contents{
       position:relative;
       width:800px;
       margin-top: 26px;
       line-height:1.6;
    }
    
    .endevent-list .box-contents a{
       display: inline-block;
       margin-right: 80px;
    }
    .box-contents > a {
       display : block;
    }
    
    .endevent-list li strong{
        display: block;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
     }
     
    .endevent-list .box-contents .date{
       position: absolute;
       top: 20px;
       right:12px;
    }
    
     .endevent-list li em{
        display: inline-block;
     }
    
    
    
    
    
    
    a { 
       color : inherit;
       text-decoration:none;
    }    
    
    .txt-lightblue{
       color : #2275a4 !important;
    }
    
    em{
       font-style: normal;
    }
    
    strong{
       font-weight: normal;
    }
    
    .pagination{
       margin-left:20px;
    }
    
    div {
       margin: 0;
       padding: 0;
       border: 0;
       vertical-align: baseline;
       word-break: break-all;
       display: block;
    }
    
    li {
       display: list-item;
       text-align: -webkit-match-parent;
    }
    
    