@charset "utf-8";


	body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
	}
	.well{
		margin-bottom:0;
	}
	
    .contents{
	   background-color: #fdfcf0;
       clear:both;
       position: relative;
       width: 100%;
       padding-right: 15px;
   	   padding-left: 15px;
      
    }
    .title-event {
       border-bottom: 2px solid #241d1e;
    }
    .title-header {
       position: relative;
       height: 51px;
       margin-top: 30px;
    }
     .title-header > .btn-toolbar {
       position: absolute; 
       top : 5px;
       right:0;
    }
    .endevent-list {
       clear: both;
	   margin-bottom: 20px;
   	   background-color: #f5f5f5;
	}

    .endevent-list ul{
       border-width:1px 0;
       border-style:solid;
       border-color:#b8b6aa;
       list-style:none;
    }
    .endevent-list li{
       height:91px;
       border-top: 1px solid #d6d4ca;
    }
    .endevent-list .box-image{
       margin-right:20px;
       margin-top:4px;
    }
    .endevent-list li div {
       float : left;
    }
     .box-image a{
       display:block;
    }
    .image{
       display: block;
       position: relative;
       
    }
    .endevent-list .box-image .image{
       width:100px;
       height:83px;
    }
    
    .endevent-list .box-image img{
       height:100%;
    }
    .box-image img {
       width: 100%;
       vertical-align : middle;
    }
   
   
    
    .endevent-list .box-contents{
       position:relative;
       width:850px;
       margin-top: 20px;
       line-height:1.6;
    }
    
    .endevent-list .box-contents a{
       display: inline-block;
       margin-right: 80px;
    }
    .box-contents > a {
       display : block;
    }
    
    .endevent-list li strong{
       display: block;
       font-weight: normal;
   	   color: black;
     }
     
    .endevent-list .box-contents .date{
       position: absolute;
       top: 20px;
       right:12px;
    }
    
     .endevent-list li em{
        display: inline-block;
        font-style: normal;
     }
     
    .pagination{
       margin-left:20px;
    }
    
    div {
       margin: 0;
       padding: 0;
       border: 0;
       vertical-align: baseline;
       word-break: break-all;
       display: block;
    }
    
    .pagination>li>a {
    	 border-radius: 50% !important;
    	 margin: 0 3px;
    }

    
    