@charset "UTF-8";

.G_container{margin: 0 auto; border-bottom:solid 1px #ccc; width: 1000px;} 
.row{margin:0px; padding:0px;}
.col-md-4{margin-left:35px; vertical-align: middle; width: 370px;}

.title_heading h1{display: inline-block; margin:10px; padding: 10px;}
.submenu{display: inline-block; width: 160px; float:right; padding-top: 40px;}
.submenu ul{list-style:none; magin:0px; padding:0px;}
.submenu ul li{display:inline;}
.submenu ul li a{color:#5d5757; text-decoration:none;}
.submenu ul li a:hover{color:#ff0000;}

/* ===========================================
    heading 평점 설명 라벨
============================================ */
.heading{background-color:#e2e0d2; vertical-align:middle; height: 35px; margin:10px;}
.heading a{color:#fff; text-decoration:none;}
.goto-link{display:inline-block; background-color: #88867e; width:110px; height:35px; text-align:center; font-weight:bold;}
.txt-write{display:inline-block; color:#000; padding:7px; float:right;}
.txt-write strong{color:#c74848;}
.txt-write a{padding:5px; border-radius:5px; font-size: 13px;}
.link-gradewrite{background-color:#c62424;}
.link-reviewwrite{background-color:#666666;}
	
/* ===========================================
    spectator 평점률/ 실관람객수
============================================ */
.percentBox{display: inline-block; width: 500px; margin:30px; padding: 10px 10px 10px 150px;}
.percent{font-size:30px;}
.percent strong{font-size:40px;}
.personBox{display: inline-block; width: 400px;}
.personBox p{font-size:12px; color:#808080; text-align:center;}
.personBox p em{font-style:normal; color:#c74848;}
.personNum{font-size:20px; font-weight:bold; color:#000; display: block;}
.personNum strong{font-size:30px;}

/* ===========================================
    menu 선택 정렬 메뉴
============================================ */
.sort{list-style:none;}
.sort li{display:inline; border-left:1px solid #999;}
li:first-child{border-left:none;}
.sort li a{color:#ff0000; text-decoration:none; padding:8px;}

/* ===========================================
    content 관람평
============================================ */
.col-md-4{padding:10px; margin:20px; width: 460px;}
.art-title{color:#231f20; font-size:20px; font-weight:700;}
.artist-data{width:100%; padding-bottom: 25px;}
.artst-pic{width:33%;position: relative;}
.artst-pic span a{color: #fff; font-size: 16px; display: none;}
.img-responsive{border-radius: 100px;}
/*
	.artst-pic span.artst-like{position: absolute; left: 11%; bottom: 10px;}
	.artst-pic span.artst-share{position: absolute; left:46%; bottom: 10px;}
	.artst-pic span.artst-plus{position: absolute; right: 9%; bottom: 10px;}
*/
.artst-prfle{width:63%;}
.artst-prfle span.artst-sub{font-size:13px; color:#bbb; float:left; width:100%; font-weight:normal; padding:5px 0;}
.artst-prfle span.artst-sub span.byname{font-weight:700; color:#262626;}
.artst-content sapn.contents{font-size:14px; white-space:pre-line;}
.counter-tab{float: left; width: 100%; padding-top: 45px;}
.counter-tab span.daysago{float:left; font-size:12px; color:#262626;} /* regDate (등록일) */
.counter-tab div{float: left; width: 33%; color: #aaa; font-size: 11px;}
.counter-tab div a{color: #bbb; font-size: 12px;}
/* hash Tag <div class=""> */
.bot-links{float: left; width: 100%; padding-top: 10px;}
.bot-links a{display: inline-block; padding: 5px; background: #ccc; font-size: 12px; margin-bottom: 5px; color: #9c9c9c; text-decoration:none;}
span.play-icon{position: absolute; left: 31%; top: 32%; display: none;}
.artst-pic:hover img.play-icon, .artst-pic:hover span a{display: block; }


 /* ===========================================
    carousel 영화 포스터
============================================ */
