<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CommentMAppeer.xml -->

<mapper namespace="repository.mapper.EventMapper">
<cache />

	<resultMap id="eventResultMap" type="eventdto">
		<id column="EVENT_NUM" jdbcType="BIGINT" property="eventNo" />
		<result column="MOVIE_NUM" jdbcType="BIGINT" property="movieNo" />
		<result column="EVENT_TITLE" jdbcType="VARCHAR" property="eventTit" />
		<result column="EVENT_CON" jdbcType="VARCHAR" property="eventCon" />
		<result column="EVENT_FILE" jdbcType="VARCHAR" property="eventFile" />
		<result column="EVENT_TYPE" jdbcType="VARCHAR" property="eventType" />
		<result column="EVENT_START" jdbcType="DATE" property="eventStt" />
		<result column="EVENT_END" jdbcType="DATE" property="eventEnd" />
	</resultMap>
	
	<!-- 이벤트 받아올때 -->
	<select id="selectEvent" resultMap="eventResultMap">
      Select
      *
      FROM EVENT
    </select>
    
       
    <!-- 이벤트 등록할 때  parameter 조회결과 --> 
	<insert id="insertEvent" parameterType="eventdto" > 
		insert into 
		EVENT(EVENT_NUM, MOVIE_NUM, EVENT_TITLE, EVENT_CON, EVENT_FILE, EVENT_TYPE,
		EVENT_START, EVENT_END)
		
		VALUES (EVENT_NUM.nextval, #{movieNo}, #{eventTit}, #{eventCon}, #{eventFile},
		#{eventType}, #{eventStt}, #{eventEnd})
	</insert>   



	<!-- 이벤트 수정 -->
	<update id = "updateEvent" parameterType="eventdto">
		UPDATE EVENT
		SET
			<if test ="movieNo != null">
				MOVIE_NUM = #{movieNo},
			</if>
			<if test ="eventTit != null">
				EVENT_TITLE = #{eventTit},
			</if>
			<if test ="eventCon != null">
				EVENT_CON =  #{eventCon},
			</if>
			<if test ="eventFile != null">
				EVENT_FILE =  #{eventFile},
			</if>
			<if test ="eventType != null">
				EVENT_TYPE =  #{eventType},
			</if>
			<if test ="eventStt != null">
				EVENT_START =  #{eventStt},
			</if>
			<if test ="eventEnd != null">
				EVENT_END =  #{eventEnd}
			</if>			
			<!-- 마지막 IF분은 꼭 실행된다는 전제 하에 사용해야함-->		
		WHERE
			EVENT_NUM = #{eventNo}
	</update>

	<!-- 상품 상세보기 결과반환 --> 

	<select id="eventdetail" resultMap="eventResultMap"> 
        select * from EVENT
        where
        EVENT_NUM = #{eventNo} 
    </select>
 
	<!-- 상품삭제 -->
	<delete id="deleteEvent" parameterType="long">
		delete from EVENT
		where EVENT_NUM = #{eventNo}
	</delete>




</mapper>

