<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CommentMAppeer.xml -->

<mapper namespace="repository.mapper.GradeMapper">
	<cache />

	<select id="selectGradeByCondition" parameterType="int" resultType="model.GradeDTO">
		select s.score_con, s.score_quan, c.member_id
		from score s, movie m, member c
		where s.movie_num = m.movie_num and m.member_num = c.member_num;
	</select>
	
</mapper>