<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "repository.mapper.MoviebookMapper">
	<cache />
	<resultMap id="timetableResultMap" type="timetable">
  		<id column="screen_name"  jdbcType="VARCHAR" property="screenName" />
  		<collection property="TimeStarts" ofType="TimeTableScreen">
  			<id property="timeStart" column="time_start"></id>
  		</collection>
		
  </resultMap>
	<select id="reserve" resultType="Movie">
      select b.cnt ,  m.movie_num, b.movie_num
      from (select count(movie_num) cnt , movie_num
      from BOOKLIST
      group by movie_num) b, movie m
      where b.movie_num = m.movie_num
      order by b.cnt
   	</select>
   	<select id = "ganada" resultType="HashMap">
   		select movie_title, movie_num
   		from movie
   		order by movie_title ASC
   	</select>
   	<select id = "theater" parameterType="Theater" resultType="HashMap">
   		select THEATER_NUM,
			MOVIE_NUM,
			THEATER_NAME,
			THEATER_AREA,
			THEATER_ADD1,
			THEATER_ADD2
   		from THEATER
   		<if test = 'theaterAdd1 != "-1" and theaterAdd2 != "-1"'>
   			where theater_add1 = #{theaterAdd1} and theater_add2 = #{theaterAdd2}
   		</if>
   	</select>
   	<select id="theaterDate" parameterType="Screen" resultMap="timetableResultMap">
   		select *
   		from TIME_TABLE
   		where THEATER_NUM = #{theaterNum} and  MOVIE_NUM = #{movieNum} 
   	</select>
   	
   	<select id="getScreen" parameterType="TimeTable" resultType="Map">
   		select *
   		from Screen
   		where SCREEN_NAME = #{screenName}  and  THEATER_NUM = #{theaterNum} and MOVIE_NUM = #{movieNum} 
   	</select>
   	<select id="getTime" parameterType="TimeTable" resultType="Map">
   		select *
   		from TIME_TABLE
   		where TIME_START = #{timeStart} and THEATER_NUM = #{theaterNum} and MOVIE_NUM = #{movieNum} and SCREEN_NAME = #{screenName}
   	</select>
</mapper>