<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "repository.mapper.MoviebookMapper">
   <cache />
   <resultMap id="timetableResultMap" type="timetable">
        <id column="screen_name"  jdbcType="VARCHAR" property="screenName" />
        <collection property="TimeStarts" ofType="TimeTableScreen">
           <id property="timeStart" column="time_start"></id>
        </collection>
        
      
  </resultMap>
  
  
    <resultMap id="screenBaseResultMap" type="Screen">
        <id column="screen_name"  jdbcType="VARCHAR" property="screenName" />
        <id column="theater_num"  jdbcType="BIGINT" property="theaterNum" />
        <id column="movie_num"  jdbcType="BIGINT" property="movieNum" />
        <result column="seat_row" jdbcType="VARCHAR" property="seatRow" />
        <result column="seat_col" jdbcType="BIGINT" property="seatCol" />
        <result column="aisle" jdbcType="VARCHAR" property="aisle" />

  </resultMap>
  
   <select id="reserve" resultType="Movie">
      select b.cnt ,  m.movie_num, b.movie_num
      from (select count(movie_num) cnt , movie_num
      from BOOKLIST
      group by movie_num) b, movie m
      where b.movie_num = m.movie_num
      order by b.cnt
      </select> 
      <select id = "ganada" resultType="HashMap">
         select movie_title, movie_num
         from movie
         order by movie_title ASC
      </select>
      <select id = "theater" parameterType="Theater" resultType="HashMap">
         select THEATER_NUM,
         MOVIE_NUM,
         THEATER_NAME,
         THEATER_AREA,
         THEATER_ADD1,
         THEATER_ADD2
         from THEATER
         <if test = 'theaterAdd1 != "-1" and theaterAdd2 != "-1"'>
            where theater_add1 = #{theaterAdd1} and theater_add2 = #{theaterAdd2}
         </if>
      </select>
      <select id="theaterDate" parameterType="Screen" resultMap="timetableResultMap">
         select *
         from TIME_TABLE
         where THEATER_NUM = #{theaterNum} and  MOVIE_NUM = #{movieNum} 
      </select>
      
      <select id="getScreen" parameterType="TimeTable" resultMap="screenBaseResultMap">
         select *
         from Screen
         where SCREEN_NAME = #{screenName}  and  THEATER_NUM = #{theaterNum} and MOVIE_NUM = #{movieNum} 
      </select>
      
  <resultMap id="timetableBaseResultMap" type="TimeTable">

        <id column="TIME_START"  jdbcType="VARCHAR" property="timeStart" />   
       <id column="THEATER_NUM"  jdbcType="BIGINT" property="theaterNum" />
       <id column="MOVIE_NUM"  jdbcType="BIGINT" property="movieNum" />
        <id column="SCREEN_NAME"  jdbcType="VARCHAR" property="screenName" />
           
      <result column="TIME_END"  jdbcType="VARCHAR" property="timeEnd" />  
         
  </resultMap>
  
  
      
      <select id="getTime" parameterType="TimeTable" resultMap="timetableBaseResultMap">
         select *
         from TIME_TABLE
         where TIME_START = #{timeStart} and THEATER_NUM = #{theaterNum} and MOVIE_NUM = #{movieNum} and SCREEN_NAME = #{screenName}
      </select>
      
     
    <resultMap id="bookListBaseResultMap" type="BookList">
    
       <id column="book_num"  jdbcType="BIGINT" property="bookNum" />
       <id column="member_num"  jdbcType="BIGINT" property="memberNum" />
       <id column="theater_num"  jdbcType="BIGINT" property="theaterNum" />
       <id column="movie_num"  jdbcType="BIGINT" property="movieNum" />
        <id column="screen_name"  jdbcType="VARCHAR" property="screenName" />        
        <id column="time_start"  jdbcType="VARCHAR" property="timeStart" />    
        <result column="seat_num" jdbcType="VARCHAR" property="seatNum" />
        <result column="book_day" jdbcType="VARCHAR" property="bookDay" />
        <result column="book_sell" jdbcType="BIGINT" property="book_sell" />

  </resultMap>     

      <select id="selectBooklist" parameterType="long" resultMap="bookListBaseResultMap">
      Select *
      FROM booklist

      where  member_num = #{memberNum} and  
      theater_num = #{theaterNum} and 
      movie_num = #{movieNum} and 
      screen_name = #{screenName} and 
      time_start = #{timeStart}

   </select>
   


  <insert id="seatinsert" parameterType="BookList">
      INSERT INTO BOOKCART1(member_num, theater_num, movie_num, screen_name, time_start, seat_num)
      values(#{memberNum}, #{theaterNum},  #{movieNum}, #{screenName}, #{timeStart}, #{seatNum} )
   </insert>
   
     <delete id="seatdelete" parameterType="BookList">
      delete from BOOKCART1
      where member_num=#{memberNum} and theater_num= #{theaterNum} 
      and movie_num = #{movieNum} and screen_name = #{screenName} 
      and time_start = #{timeStart} and seat_num = #{seatNum}
   </delete>


      <select id="seatSelect" parameterType="long" resultMap="bookListBaseResultMap">
      
      Select seat_num
      FROM bookcart1

      where 
      <!-- member_num=#{memberNum} and  -->
      theater_num= #{theaterNum} 
      and movie_num = #{movieNum} and screen_name = #{screenName} 
      and time_start = #{timeStart} and seat_num = #{seatNum}
      
      
   </select>
   
   
   
   
   
      <select id="selectBookCartList" parameterType="BookList" resultMap="bookListBaseResultMap">
      
      Select *
      FROM bookcart1

      where 
       member_num=#{memberNum}
      
      
   </select>
   

  
      
      
</mapper>