<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CommentMAppeer.xml -->

<mapper namespace="repository.mapper.StoreMapper">
	<cache />

	<resultMap id="storeResultMap" type="storedto">  	<!-- 상품 -->
		<id column="GOODS_NUM" jdbcType="BIGINT" property="goodsNum" />
		<result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
		<result column="GOODS_CON" jdbcType="VARCHAR" property="goodsCon" />
		<result column="GOODS_PRI" jdbcType="BIGINT" property="goodsPri" />
		<result column="GOODS_QUAN" jdbcType="BIGINT" property="goodsQuan" />
		<result column="GOODS_NOTE" jdbcType="VARCHAR" property="goodsNote" />
		<result column="GOODS_PIC" jdbcType="VARCHAR" property="goodsPic" />
		<result column="MOVIE_NUM" jdbcType="BIGINT" property="movieNum" />
	</resultMap>
	
	
	<resultMap id="storeResultMap2" type="storeoptdto">   	<!-- 옵션 -->
		<id column="GOODS_NUM" jdbcType="BIGINT" property="goodsNum" />
		<id column="GOODS_OPTNUM" jdbcType="BIGINT" property="goodsOptnum" />		
		<result column="GOODS_OPT" jdbcType="VARCHAR" property="goodsOpt" />	
	</resultMap>
	
	
	<resultMap id="gpaylistResultMap" type="gpaylistdto">   	<!-- 구매리스트 -->
		<id column="GPAY_NUM" jdbcType="BIGINT" property="gpayNum" />
		<id column="MEMBER_NUM" jdbcType="BIGINT" property="memberNum" />
		<id column="GOODS_NUM" jdbcType="BIGINT" property="goodsNum" />		
		<id column="GOODS_OPTNUM" jdbcType="BIGINT" property="goodsOptnum" />	
		<result column="GPLIST_QUAN" jdbcType="BIGINT" property="gplistQuan" />	
		<result column="GPLIST_PRICE" jdbcType="BIGINT" property="gplistPrice" />
		<result column="GPLIST_DAY" jdbcType="TIMESTAMP" property="gplistDay" />	
	</resultMap>
	

  	<!-- 상품 받아올때 -->
	<select id="selectStore" resultMap="storeResultMap">
		Select
		*
		FROM GOODS
	</select>	 
	
	
		<!-- 옵션 받아올때 -->
	<select id="selectoptStore" resultMap="storeResultMap2">
		Select
		*
		FROM GOODS_OPTION
	</select>	
	


	<!-- 상품 상세보기 결과반환 -->
	<select id="productdetail"  resultMap="storeResultMap"> 
        select * from GOODS
        where
        GOODS_NUM =#{goodsNum} 
    </select>
    
    <!-- 옵션 상세보기 결과반환 -->
	<select id="productoptdetail"  resultMap="storeResultMap2"> 
        select * from GOODS_OPTION
        where
        GOODS_NUM =#{goodsNum} 
    </select>
    
    

	
	<!-- 상품집어넣을때  parameter 조회결과--> 
	<insert id="insertStore" parameterType="storedto" > 
		insert into GOODS(GOODS_NUM,GOODS_NAME,GOODS_CON,GOODS_PRI,GOODS_QUAN,GOODS_NOTE,GOODS_PIC,MOVIE_NUM)
		VALUES (GOODS_NUM.nextval, #{goodsName}, #{goodsCon}, #{goodsPri},#{goodsQuan}, #{goodsNote},#{goodsPic}, #{movieNum})
	</insert>
	
	
		<!--옵션 집어넣을때 -->
	<insert id="insertStoreopt" parameterType="storeoptdto" >
		insert into GOODS_OPTION(GOODS_NUM,GOODS_OPTNUM,GOODS_OPT)
		VALUES (#{goodsNum}, GOODS_OPTNUM.nextval, #{goodsOpt})
	</insert>
	
	
		<!--구매리스트 집어넣을때 -->
	<insert id="insertGpaylist" parameterType="gpaylistdto" >
		insert into GPAY_LIST(GPAY_NUM,MEMBER_NUM,GOODS_NUM,GOODS_OPTNUM,GPLIST_QUAN,GPLIST_PRICE,GPLIST_DAY)
		VALUES (#{gpayNum}, #{memberNum}, #{goodsNum}, #{goodsOptnum}, #{goodsAmount}, #{gplistPrice}, SYSDATE)
	</insert>
	
	
	
	<delete id="deleteStore" parameterType="int">
		delete from GOODS
		where GOODS_NUM = #{goodsNum}
	</delete>



</mapper>