<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CommentMAppeer.xml -->

<mapper namespace="repository.mapper.StoreMapper">
	<cache />

	<resultMap id="storeResultMap" type="storedto">  	<!-- 상품 -->
		<id column="GOODS_NUM" jdbcType="BIGINT" property="goodsNum" />
		<result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
		<result column="GOODS_CON" jdbcType="VARCHAR" property="goodsCon" />
		<result column="GOODS_PRI" jdbcType="BIGINT" property="goodsPri" />
		<result column="GOODS_QUAN" jdbcType="BIGINT" property="goodsQuan" />
		<result column="GOODS_NOTE" jdbcType="VARCHAR" property="goodsNote" />
		<result column="GOODS_PIC" jdbcType="VARCHAR" property="goodsPic" />
		<result column="MOVIE_NUM" jdbcType="BIGINT" property="movieNum" />
	</resultMap>
	
	
	<resultMap id="storeResultMap2" type="storeoptdto">   	<!-- 옵션 -->
		<id column="GOODS_NUM" jdbcType="BIGINT" property="goodsNum" />
		<id column="GOODS_OPTNUM" jdbcType="BIGINT" property="goodsOptnum" />		
		<result column="GOODS_OPT" jdbcType="VARCHAR" property="goodsOpt" />	
	</resultMap>
	
	
	<resultMap id="gpaylistResultMap" type="gpaylistdto">   	<!-- 구매리스트 -->
		<id column="GPAY_NUM" jdbcType="BIGINT" property="gpayNum" />
		<id column="MEMBER_NUM" jdbcType="BIGINT" property="memberNum" />
		<id column="GOODS_NUM" jdbcType="BIGINT" property="goodsNum" />		
		<id column="GOODS_OPTNUM" jdbcType="BIGINT" property="goodsOptnum" />	
		<result column="GPLIST_QUAN" jdbcType="BIGINT" property="gplistQuan" />	
		<result column="GPLIST_PRICE" jdbcType="BIGINT" property="gplistPrice" />
		<result column="GPLIST_DAY" jdbcType="TIMESTAMP" property="gplistDay" />	
	</resultMap>
	
	
	<resultMap id="payResultMap" type="paydto">   	<!--결제-->
		<id column="PAY_NUM" jdbcType="BIGINT" property="payNum" />
		<result column="PAY_APPR" jdbcType="VARCHAR" property="payAppr" />	
		<result column="PAY_CARD" jdbcType="VARCHAR" property="payCard" />
		<result column="PAY_TYPE" jdbcType="VARCHAR" property="payType" />	
		<result column="PAY_DCPOINT" jdbcType="VARCHAR" property="payDcpoint" />
		<result column="PAY_DCCOUPON" jdbcType="VARCHAR" property="payDccoupon" />
		<result column="PAY_PRICE" jdbcType="BIGINT" property="payPrice" />
		<result column="GPAY_NUM" jdbcType="BIGINT" property="gpayNum" />
		<result column="MEMBER_NUM" jdbcType="BIGINT" property="memberNum" />
		<result column="BOOK_NUM" jdbcType="BIGINT" property="bookNum" />		
	</resultMap>
	

  	<!-- 상품 받아올때 -->
	<select id="selectStore" resultMap="storeResultMap">
		Select
		*
		FROM GOODS
	</select>	 
	
	
		<!-- 옵션 받아올때 -->
	<select id="selectoptStore" resultMap="storeResultMap2">
		Select
		*
		FROM GOODS_OPTION
	</select>	
	


	<!-- 상품 상세보기 결과반환 -->
	<select id="productdetail"  resultMap="storeResultMap"> 
        select * from GOODS
        where
        GOODS_NUM =#{goodsNum} 
    </select>
    
    <!-- 옵션 상세보기 결과반환 -->
	<select id="productoptdetail"  resultMap="storeResultMap2"> 
        select * from GOODS_OPTION
        where
        GOODS_NUM =#{goodsNum} 
    </select>
    
    
     <!-- 구매리스트 결과반환 -->
	<select id="paylist"  resultMap="payResultMap"> 
        select * from PAY
        where
        MEMBER_NUM =#{memberNum}
    </select>
    
    

	
	<!-- 상품집어넣을때  parameter 조회결과--> 
	<insert id="insertStore" parameterType="storedto" > 
		insert into GOODS(GOODS_NUM,GOODS_NAME,GOODS_CON,GOODS_PRI,GOODS_QUAN,GOODS_NOTE,GOODS_PIC,MOVIE_NUM)
		VALUES (GOODS_NUM.nextval, #{goodsName}, #{goodsCon}, #{goodsPri},#{goodsQuan}, #{goodsNote},#{goodsPic}, #{movieNum})
	</insert>
	
	
		<!--옵션 집어넣을때 -->
	<insert id="insertStoreopt" parameterType="storeoptdto" >
		insert into GOODS_OPTION(GOODS_NUM,GOODS_OPTNUM,GOODS_OPT)
		VALUES (#{goodsNum}, GOODS_OPTNUM.nextval, #{goodsOpt})
	</insert>
	
	
		<!--구매리스트 집어넣을때  -->
	<insert id="insertGpaylist" parameterType="gpaylistdto" >
		insert into GPAY_LIST(GPAY_NUM,MEMBER_NUM,GOODS_NUM,GOODS_OPTNUM,GPLIST_QUAN,GPLIST_PRICE,GPLIST_DAY)
		VALUES (GPAYLIST_NUM.nextval, #{memberNum}, #{goodsNum}, #{goodsOptnum}, #{goodsAmount}, #{gplistPrice}, SYSDATE)
	</insert>
	
	
			<!--상품쪽 결제! 집어넣을때 -->
	<insert id="insertPay" parameterType="paydto" >
		insert into PAY(PAY_NUM,PAY_APPR,PAY_CARD,PAY_CARDCVC,PAY_CARDDATE,PAY_CARDDATE2,PAY_TYPE,PAY_DCPOINT,PAY_DCCOUPON,PAY_PRICE,GPAY_NUM,MEMBER_NUM,BOOK_NUM)
		VALUES (PAY_NUM.nextval, 1, #{payCard}, #{payCardcvc}, #{payCarddate}, #{payCarddate2}, #{payType}, #{payDcpoint}, #{payDccoupon}, #{payPrice},GPAYLIST1_NUM.nextval,#{memberNum},#{bookNum})
	</insert>
	
	
	
	
	 <!-- 상품삭제 -->
	<delete id="deleteStore" parameterType="int">
		delete from GOODS
		where GOODS_NUM = #{goodsNum}
	</delete>
	
		 <!-- 옵션삭제 -->
	<delete id="deleteStoreopt" parameterType="int">
		delete from GOODS_OPTION
		where GOODS_OPTNUM = #{goodsOptnum}
	</delete>
	
		<!-- 상품수정 -->
	<update id = "updateStore" parameterType="storedto">
		UPDATE GOODS
		SET
			<if test ="goodsName != null">
				GOODS_NAME = #{goodsName},
			</if>
			<if test ="goodsCon != null">
				GOODS_CON = #{goodsCon},
			</if>
			<if test ="goodsPri != null">
				GOODS_PRI =  #{goodsPri},
			</if>
			<if test ="goodsQuan != null">
				GOODS_QUAN =  #{goodsQuan},
			</if>
			<if test ="goodsNote != null">
				GOODS_NOTE =  #{goodsNote},
			</if>
			<if test ="goodsPic != null">
				GOODS_PIC =  #{goodsPic},
			</if>
			<if test ="movieNum != null">
				MOVIE_NUM =  #{movieNum}
			</if>			
			<!-- 마지막 IF분은 꼭 실행된다는 전제 하에 사용해야함-->		
		WHERE
			GOODS_NUM = #{goodsNum}	
	</update>
	
			<!-- 옵션수정 -->
	<update id = "updateStoreopt" parameterType="storeoptdto">
		UPDATE GOODS_OPTION
		SET
			<if test ="goodsOpt != null">
				GOODS_OPT = #{goodsOpt}
			</if>						
			<!-- 마지막 IF분은 꼭 실행된다는 전제 하에 사용해야함-->		
		WHERE
			GOODS_OPTNUM = #{goodsOptnum}	
	</update>
	
	



</mapper>