<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- TheaterMapper.xml -->


<mapper namespace="repository.mapper.TheaterMapper">
	<cache />

 	<resultMap id="theaterBaseResultMap" type="theater">
		<id column="theater_num" jdbcType="BIGINT" property="theaterNum" />
		<id column="movie_num" jdbcType="BIGINT" property="movieNum" />
		<result column="theater_name" jdbcType="VARCHAR" property="theaterName" />
		<result column="theater_area" jdbcType="VARCHAR" property="theaterArea" />
	</resultMap>

	 <resultMap id="movieBaseResultMap" type="movie">
		<id column="movie_num" jdbcType="BIGINT" property="movieNum" />
		<result column="movie_title" jdbcType="VARCHAR" property="movieTitle" />
		<result column="movie_genr" jdbcType="VARCHAR" property="movieGenr" />
		<result column="movie_time" jdbcType="VARCHAR" property="movieTime" />
		<result column="movie_dire" jdbcType="VARCHAR" property="movieDire" />
		<result column="movie_actor" jdbcType="VARCHAR" property="movieActor" />
		<result column="movie_grade" jdbcType="VARCHAR" property="movieGrade" />
		<result column="movie_con" jdbcType="VARCHAR" property="movieCon" />
		<result column="movie_date" jdbcType="TIMESTAMP" property="movieDate" />
		<result column="member_num" jdbcType="BIGINT" property="memberNum" />
		<result column="movie_poster" jdbcType="VARCHAR" property="moviePoster" />
	</resultMap>
	
	 <select id="listTheater" resultType="model.Theater" parameterType="Long"
		resultMap="theaterBaseResultMap">
		SELECT *
		FROM theater
		WHERE movie_num=#{movieNum}
        ORDER BY theater_num
	</select>
	
	<select id="listMovie" 
		resultMap="movieBaseResultMap">
		SELECT movie_num,
		movie_title


		FROM movie
		ORDER BY movie_num desc
	</select>
	
	<!-- 상세보기 -->
	<select id="detailView"  parameterType="Long" resultType="Theater" resultMap="theaterBaseResultMap">
	SELECT * FROM theater
	WHERE theater_num = #{theaterNum}
	</select>

	<!-- 02. 게시글 작성 -->
	<insert id="insertTheater" parameterType="Theater">
		INSERT INTO theater (
		theater_num,
		movie_num,
		theater_name,
		theater_area

		) VALUES (
		THEATER_NUM_SEQ.NEXTVAL,
		#{movieNum},
		#{theaterName},		
		#{theaterArea}
		)
	</insert>

	<!-- 05. 게시글 수정처리 -->
	<update id="updateTheater" parameterType="Theater">
		UPDATE theater SET
		theater_name = #{theaterName},
		theater_area = #{theaterArea}
		WHERE theater_num = #{theaterNum}
	</update>

	<!-- 06. 게시글 삭제처리 -->
	<delete id="deleteTheater" parameterType="Long">
		DELETE FROM theater
		WHERE theater_num = #{theaterNum}
	</delete>

	
		

</mapper>