<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<!-- 타입별칭 -->
	<typeAliases>
		<typeAlias type="model.StoreDAO" alias="StoreDAO" />
	</typeAliases>


	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="smrit" />
				<property name="password" value="oracle" />
			</dataSource>
		</environment>
	</environments>
	
	
		<!-- 매퍼정의 -->
	<mappers>
		<mapper resource="repository/mapper/StoreMapper.xml" />

	</mappers>


</configuration>