<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="model.StoreDTO" alias="storedto" />
      <typeAlias type="model.CustomerDTO" alias="customerdto" />
      <typeAlias type="model.CustomerDTO" alias="gradedto" />
   </typeAliases>
   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC" />
         <dataSource type="POOLED">
            <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
            <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
            <property name="username" value="SMRIT" />
            <property name="password" value="oracle" />
         </dataSource>
      </environment>
   </environments>
   <mappers>
      <mapper resource="repository/mapper/StoreMapper.xml" />
      <mapper resource="repository/mapper/CustomerMapper.xml"/>
      <mapper resource="repository/mapper/GradeMapper.xml"/>
   </mappers>
</configuration>